body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.legend, .product {
	display: inline-block;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#cart {
	padding: 10px;
	display: inline-block;
	background-color: #D96055;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#cart span {
	padding: 0 10px;
	color: white;
}

#cart span#count {
	background-color: #3498BF;
    border-radius: 50%;
    padding: 5px;
}